h1 {
    text-align: center;
    font-size: 80px;
    color: aqua;
    background-color: bisque;
}
h2 {
    color: blue;
    background-color: burlywood;
}
body {
    height: 100vh;
    background-color: coral;
}